/CliniSafePhoneApp/Portable/obj
/CliniSafePhoneApp/Portable/bin
/CliniSafePhoneApp/Android/obj
/CliniSafePhoneApp/Android/bin
/CliniSafePhoneApp/iOS/bin
/CliniSafePhoneApp/iOS/obj
/.vs/CliniSafePhoneApp
